
.contain {
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  overflow: auto;
  max-width: 100%;
}

body {
    transition: background-color 1s ease, color 1s ease;
}

header {
  text-align: center;
  border: none;
  border-bottom: 1px solid;

}

footer {
    border-top: solid 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}

.navi {
   margin: auto;
   display: flexbox;
   justify-content: left;
   align-content: center;
   margin-left: 10px;
   cursor: pointer;
}

.dropdown {
    position:relative;
    cursor: pointer;
}

.dropcon {
    display: none;
    position: absolute;
}

.dropcon a {
    display: block;
    padding: 12px 16px;
    overflow: none;
}

.dropdown:hover .dropcon {
display: block;
background-color: var(--primary-color);
  overflow: none;
}

.dropdown:hover .dropbtn {
display: block;
}
