.mole {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: block;
    margin: auto;

}

h1, p, h2 {
    margin: 5px;
    padding: 2px;
}

hr {
    width: 250px;
    margin: auto;
}

.brief {
    padding-top: 10px;
}

.navi {
   margin: auto;
   display: flexbox;
   justify-content: left;
   align-content: center;
   margin-left: 10px;
   cursor: pointer;
}

.dropdown {
    position:relative;
    cursor: pointer;
}

.dropcon {
    display: none;
    position: absolute;
}

.dropcon a {
    display: block;
    padding: 12px 16px;
    overflow: none;
}

.dropdown:hover .dropcon {
display: block;
background-color: var(--primary-color);
  overflow: none;
}

.dropdown:hover .dropbtn {
display: block;
}
