.navi {
   margin: auto;
   display: flexbox;
   justify-content: left;
   align-content: center;
   margin-left: 10px;
   cursor: pointer;
}

.dropdown {
    position:relative;
    cursor: pointer;
}

.dropcon {
    display: none;
    position: absolute;
}

.dropcon a {
    display: block;
    padding: 12px 16px;
    overflow: none;
}

.dropdown:hover .dropcon {
display: block;
background-color: var(--primary-color);
  overflow: none;
}

.dropdown:hover .dropbtn {
display: block;
}
